version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/" # Location of package manifests
    schedule:
      interval: monthly
    labels:
      - "dependencies"
      - "github-actions"

  - package-ecosystem: "nuget"
    directory: "/tests"
    schedule:
      interval: monthly
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-patch"  
    labels:
      - "dependencies"
      - "nuget"

